<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="email1">Mail</label>
        <input
          type="email"
          id="email1"
          class="form-control"
          ngModel
          name="email1"
          required
          email
          #email1="ngModel">
      </div>
      <span class="help-block" *ngIf="!email1.valid && email1.touched">Please enter a valid email!</span>

      <div class="form-group">
        <label for="subscription">Subscription</label>
        <select id="subscription" class="form-control" [ngModel]="defaultSubscription" name="subscription">
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          #password="ngModel">
      </div>

      <span class="help-block" *ngIf="!password.valid && password.touched">Password is required!</span>

      <p *ngIf="!f.valid && f.touched">Form is invalid</p>


      <button
        class="btn btn-primary"
        type="submit">
        Submit
      </button>

    </form>
  </div>
</div>
